@media (max-width: 1110px) {
  .container {
    max-width: 90%;
    margin: 0 5rem;
    /* background-color: brown; */
  }

  h1 {
    font-size: 7rem;
  }

  .about-me__profile-picture {
    min-width: 30rem;
  }

  h3 {
    font-size: 3rem;
  }
}
