* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #151515;
  color: #d9d9d9;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #fff;
}

h1,
h2 {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
}

h3 {
  margin-bottom: 14px;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1.5px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  padding-top: 40px;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.44px;
  color: #fff;
}

.social-icons-list {
  display: flex;
  gap: 30px;
}

.social-icons-list-header {
  margin-right: 30px;
}

.social-icons-list-footer {
  margin-right: 0px;
}

.social-icon {
  width: auto;
  height: 20px;
}

.hero {
  position: relative;
  border-bottom: solid 1px #fff;
  padding-bottom: 100px;
  height: 720px;
  padding-top: 100px;
}

.main-heading {
  margin-bottom: 50px;
}

.name {
  box-shadow: inset 0 -5px #4ee1a0;
}

.hero-text {
  margin-bottom: 65px;
  width: 40%;
}

.button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.29px;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 12px;
  box-shadow: 0 2px #4ee1a0;
  text-decoration: none;
}

.button:hover {
  color: #4ee1a0;
}

.profile-picture {
  width: 445px;
  height: auto;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: -1;
}

.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px rgba(255, 255, 255, 1);
  z-index: 1;
  position: absolute;
  right: 34%;
  bottom: 22%;
}

.oval {
  width: 530px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px rgba(255, 255, 255, 0.2);
  z-index: -1;
  position: absolute;
}

.oval-hero {
  left: -20%;
}

.oval-skills {
  right: -35%;
}

.oval-contact {
  left: -33%;
  z-index: 1;
}

.oval-instance1 {
  top: 35px;
}

.oval-instance2 {
  top: 45px;
}

.oval-instance3 {
  top: 55px;
}

.oval-instance4 {
  top: 65px;
}

.oval-instance5 {
  top: 75px;
}

.oval-instance6 {
  bottom: 0px;
}

.oval-instance7 {
  bottom: -10px;
}

.oval-instance8 {
  bottom: -20px;
}

.oval-instance9 {
  bottom: -30px;
}

.oval-instance10 {
  bottom: -40px;
}

.oval-instance11 {
  bottom: 100px;
}

.oval-instance12 {
  bottom: 90px;
}

.oval-instance13 {
  bottom: 80px;
}

.oval-instance14 {
  bottom: 70px;
}

.oval-instance15 {
  bottom: 60px;
}

.skills {
  position: relative;
  margin-top: 72px;
}

.grid-3cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
}

.grid-2cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 70px;
  column-gap: 30px;
}

.grid-contact {
  justify-content: space-between;
}

.projects {
  margin-top: 140px;
  padding-bottom: 140px;
}
.project-img-box {
  position: relative;
}

.project-img-box:hover .project-overlay-background {
  opacity: 0.75;
}

.project-img-box:hover .project-overlay-links {
  opacity: 1;
}

.project-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.5s ease;
}

.project-overlay-background {
  background-color: #151515;
  z-index: 1;
}
.project-overlay-links {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.projects-heading {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.project-tech {
  margin-bottom: 15px;
}

.project-links {
  display: none;
  text-decoration: underline;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #4ee1a0;
}

#contact-me-section,
footer {
  background-color: #242424;
}

.contact {
  padding: 100px 0 100px;
  display: flex;
  justify-content: space-between;
}

.contact-text {
  width: 40%;
}

.contact-heading {
  margin-bottom: 36px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-field {
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: flex-start;
}

.form-button {
  text-align: end;
}

.error {
  border-color: #ff6f5b;
}

.form-field.error .error-icon {
  display: block !important;
}

.form-field.success .check-icon {
  display: block !important;
}

.success {
  border-color: #4ee1a0;
}

.form-element {
  margin-left: 25px;
  padding-bottom: 15px;
  width: 445px;
  background-color: #242424;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.22px;
}

.form-element:focus {
  outline: 0;
  border-color: rgba(255, 255, 255, 0.5);
}

label {
  display: block;
  font-size: 16px;
  margin-left: 25px;
  color: rgba(255, 255, 255, 0.5);
}

.error-icon {
  display: none !important;
  color: #ff6f5b;
}

.check-icon {
  display: none !important;
  color: #4ee1a0;
}

.error-text {
  color: #ff6f5b;
  text-align: right;
  font-size: 12px;
}

.form-item small {
	color: #ff6f5b;
	visibility: hidden;
}

.form-item.error small {
	visibility: visible;
}

textarea {
  resize: none;
  color: #151515;
  background-color: #fff;
}

.footer {
  border-top: 1px solid #fff;
  padding: 25px 0 92px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
